# secrets

*.key
*.crt
*.pem
*.csr
*.pfx
*.p12

# local dependency installations
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.releaseBackup
release.properties

# maven specific files
target/
*.class
.mvn/
.mvnw
.mvnw.cmd